<!--Admin Text -->
<section class="container-fluid bg-danger text-center p-2">
  <h1>Panel de Administrador</h1>
</section>
<!--Admin Text -->

<!-- breadcrumb -->
<nav aria-label="breadcrumb" class="mb-2 bg-principal-color">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Panel Administrador</li>
    </ol>
  </nav>
</nav>
<!-- breadcrumb -->

<%= render 'partials/panelBrands' %>
<%= render 'partials/panelProducts' %>
<%= render 'partials/panelOrders' %>
<%= render 'partials/panelIndexPanelInfo' %>