<!--Footer -->
<footer class="footer-page">
  <div class="footer-content">

    <div class="footer-content-social-icons">
      <a href="https://www.facebook.com" target="_blank" class="footer-icons">
        <%= image_tag("facebook.png") %>
      </a>
      <a href="https://www.instagram.com" target="_blank" class="footer-icons">
        <%= image_tag("instagram.png") %>
      </a>
      <a href="https://www.twitter.com" target="_blank" class="footer-icons">
        <%= image_tag("twitter.png") %>
      </a>
    </div>

    <div class="footer-content-quote">
      <p class="font-italic">"Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet neque numquam doloribus corporis tempore fugiat et in deleniti ipsum aliquam?"</p>
    </div>
  </div>
  <div class="footer-bottom">
    &copy; Proyecto DAW 1
  </div>
</footer>
<!--Footer -->