<!-- Stock manage -->
<section class="container my-3 bg-dark p-3">

  <header class="text-center mb-2 border border-bottom p-3">
    <h2>Ventas</h2>
  </header>

  <table class="table table-responsive-sm table-light mt-3">
    <thead>
    <th>ID</th>
    <th>Fecha</th>
    <th>Usuario</th>
    </thead>
    <tbody>
    <%  @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.created_at %></td>
        <td><%= order.user_id %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

</section>
<!-- Stock manage -->